@model CoreUI.Web.Models.Sucursales

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sucursales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SucursalesId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estatus" /> @Html.DisplayNameFor(model => model.Estatus)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PaisId" class="control-label"></label>
                <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrAlta" class="control-label"></label>
                <input asp-for="UsrAlta" class="form-control" />
                <span asp-validation-for="UsrAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrFechaAlta" class="control-label"></label>
                <input asp-for="UsrFechaAlta" class="form-control" />
                <span asp-validation-for="UsrFechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrMod" class="control-label"></label>
                <input asp-for="UsrMod" class="form-control" />
                <span asp-validation-for="UsrMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrFechaMod" class="control-label"></label>
                <input asp-for="UsrFechaMod" class="form-control" />
                <span asp-validation-for="UsrFechaMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
