@model CoreUI.Web.Models.Egresos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Egresos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SucursalesId" class="control-label"></label>
                <input asp-for="SucursalesId" class="form-control" />
                <span asp-validation-for="SucursalesId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EgresosId" />
            <div class="form-group">
                <label asp-for="TipoEgresosId" class="control-label"></label>
                <select asp-for="TipoEgresosId" class="form-control" asp-items="ViewBag.TipoEgresosId"></select>
                <span asp-validation-for="TipoEgresosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ajuste" class="control-label"></label>
                <input asp-for="Ajuste" class="form-control" />
                <span asp-validation-for="Ajuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cancelado" class="control-label"></label>
                <input asp-for="Cancelado" class="form-control" />
                <span asp-validation-for="Cancelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoAjusteCancelacion" class="control-label"></label>
                <input asp-for="MotivoAjusteCancelacion" class="form-control" />
                <span asp-validation-for="MotivoAjusteCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrAlta" class="control-label"></label>
                <input asp-for="UsrAlta" class="form-control" />
                <span asp-validation-for="UsrAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrFechaAlta" class="control-label"></label>
                <input asp-for="UsrFechaAlta" class="form-control" />
                <span asp-validation-for="UsrFechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrMod" class="control-label"></label>
                <input asp-for="UsrMod" class="form-control" />
                <span asp-validation-for="UsrMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrFechaMod" class="control-label"></label>
                <input asp-for="UsrFechaMod" class="form-control" />
                <span asp-validation-for="UsrFechaMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
